<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org%22">
<head th:replace="/fragments/_header :: head(pageTitle='2nd easy step')">
</head>

<body>
    <div th:insert="/fragments/_header :: header"></div>

    <h2>Step 2</h3>
    <table>
        <tr>
            <td>
                <p>Create ways to speak without speaking.</p>
            </td>
            <td>
                <img th:src="@{/img/media.png}">
                <p class="subtext"}><a th:href="@{sourcemedia}">
                    Image source: https://www.whatmobile.net/Features/article/5-little-known-social-media-marketing-tips-that-will-take-your-marketing-to-new-heights
                </a></p>
            </td>
        </tr>
    </table>

    <div th:replace="fragments/_footer :: footer"></div>
</body>
</html>